[Unit]
Description=Nitrogen Logic Depth Controller Web UI
After=network.target
Before=getty.target

[Service]
ExecStart=/bin/openvt -f -w -c 4 -- /opt/nitrogenlogic/knc/knc_monitor.sh
Restart=always

[Install]
WantedBy=multi-user.target
